@import "../../styles/main.scss";

.createPlaceCard-container {
  background-color: var(--color-dark);
  color: var(--color-light);
  font-family: var(--fm-montserrat);
  border-radius: 10px;
  margin: 2rem auto;
  width: 600px;
}
.createPlaceCard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.user-createPlaceCard {
  display: flex;
  width: 40%;
  column-gap: 0.6rem;
  font-size: 1.1rem;
  align-items: center;
  font-weight: 600;
}

.createPlaceCard-image {
  img {
    width: 100%;
  }
}
.createPlaceCard-descripcion {
  padding:1.5rem 3rem;
  .textarea{
    color: white;
    border-bottom: 1px solid white;
    padding:0.5rem 1rem;
    width: 100%;
  }
}
.createPlaceCard-type{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:1.5rem 3rem;

  select{
    background-color: #181818;
    border:none;
    color: white;
    width: 100%;
    font-size: 1rem;
    font-family: var(--fm-montserrat);
    border-bottom: 1px solid white;
    padding: 0.5rem 1rem;
  }
}
.createPlaceCard-web{
  padding: 1.5rem 3rem;
  .textarea{
    color: white;
    border-bottom: 1px solid white;
    padding:0.5rem 1rem;
    width: 100%;
  }
}


.sendInfoSubmit {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}
.createPlaceCard-btn {
  padding: 0.5rem 3rem;
  margin-top: 1rem;
  background-color: #181818;
  border: 1px solid #51AC90;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    transform: translateY(-0.2rem);
  }
}

@media (max-width: 900px) {
  .createPlaceCard-container {
    width: 100%;
    border-radius: 0;
  }
}
