@import "../../../styles/main.scss";

.comentario-container {
  position: relative;
  padding: 2rem;
  color: #fff;
  list-style: none;
  line-height: 1.2rem;
}
.comment {
  display: flex;
  align-items: center;
  column-gap: 2rem;
  .comentario-comentario {
    word-wrap: normal;
    overflow-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.textarea-container {
  display: flex;
  padding: 2rem 0;
  align-items: center;
  column-gap: 1.5rem;
  justify-content: center;
  p {
    position: absolute;
    bottom: 2.5rem;
    left: 6rem;
    font-size: 0.9rem;
    line-height: normal;
  }
  textarea {
    color: white;
    border: 1px solid white;
    width: 90%;
    overflow: hidden;
    padding: 1rem;
    background-color: #181818;
    resize: none;
    font-size: 1rem;
    font-family: var(--fm-montserrat);
  }
}
.btn-container {
  button {
    position: absolute;
    padding: 0.3rem 1rem;
    bottom: 2.6rem;
    right: 4rem;
    border: 1px solid white;
    background-color: #181818;
    color: #fff;
    font-size: 0.9rem;
    font-family: var(--fm-montserrat);
    cursor: pointer;

    &:hover {
      transform: translateY(-0.2rem);
    }
  }
}

//Barras-----------------------------------------------
.fancy {
  line-height: 0.5;
  text-align: center;
  margin: 0.9rem 0;
  font-size: 0.9rem;
}
.fancy span {
  display: inline-block;
  position: relative;
}
.fancy span:before,
.fancy span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  top: 0;
  width: 100%;
}
.fancy span:before {
  right: 100%;
  margin-right: 15px;
}
.fancy span:after {
  left: 100%;
  margin-left: 15px;
}
//Fin-Barras-----------------------------------------------

@media (max-width: 900px) {
  .btn-container {
    button {
      right: 1rem;
    }
  }
}
