@import "./styles/main.scss";
* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--color-background);
  overflow-x: hidden;

}
.main-container{
  padding-top: 2rem;
  padding-bottom: 1rem;
  display: grid;
  grid-template-columns:18% auto;
}

@media (max-width: 900px) {
  .main-container{
    grid-template-columns: 100%;

  }
}
