@import "./styles/main.scss";
* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--color-background);

}
.main-container{
  padding: 3rem 0;
  display: grid;
  grid-template-columns:20% auto;
}

@media (max-width: 900px) {
  .main-container{
    grid-template-columns: 100%;

  }
}
