.descripcion-container{
        background-color: var(--color-dark);
        color: var(--color-light);
        font-family: var(--fm-montserrat);
        border-radius: 10px;
        margin: 2rem auto;
        width: 600px;
}

.desc{
    padding: 2rem;
    line-height: 1.7rem;
}